@model IEnumerable<ExercicioSem4.Models.Livro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lsbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPublicação)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroExemplares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lsbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPublicação)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroExemplares)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LivroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LivroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LivroId })
        </td>
    </tr>
}

</table>
